#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  padding: 16px 32px;
}

section ul {
  padding: 0;
  display: grid;
  grid-gap: 16px;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
}

li {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #333333;
  border: 1px solid rgb(160, 160, 160);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form * {
  margin-right: 16px;
}

input, button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

.search-meta {
  color: rgba(255, 255, 255, 0.5)
}

